# Logs
react-code/logs
react-code/*.log
react-code/npm-debug.log*
react-code/yarn-debug.log*
react-code/yarn-error.log*
react-code/pnpm-debug.log*
react-code/lerna-debug.log*

react-code/node_modules
react-code/dist
react-code/dist-ssr
react-code/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
