# Miscellaneous
flutter_code/*.class
flutter_code/*.log
flutter_code/*.pyc
flutter_code/*.swp
flutter_code/.DS_Store
flutter_code/.atom/
flutter_code/.buildlog/
flutter_code/.history
flutter_code/.svn/
flutter_code/migrate_working_dir/

# IntelliJ related
flutter_code/*.iml
flutter_code/*.ipr
flutter_code/*.iws
flutter_code/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
flutter_code/**/doc/api/
flutter_code/**/ios/Flutter/.last_build_id
flutter_code/.dart_tool/
flutter_code/.flutter-plugins
flutter_code/.flutter-plugins-dependencies
flutter_code/.packages
flutter_code/.pub-cache/
flutter_code/.pub/
flutter_code/build/

# Web related
flutter_code/lib/generated_plugin_registrant.dart

# Symbolication related
flutter_code/app.*.symbols

# Obfuscation related
flutter_code/app.*.map.json

