.expBarSlice {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    margin: 0;
    align-items: center;
}

.expDate {
    visibility: visible;
}

@media (max-width: 550px) {
    .expBarSlice { height: 50px; }
}

@media (max-width: 450px) {
    .expDate { visibility: hidden; }
}